<h1>HOME PAGE</h1>

<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<a href="tests/create/test">Create Test</a>

<%# div to display all tests%>
<div class="container-fluid">
  <% testsArr.forEach(function(test) { %>
    <a href=<%= "/tests/edit/" + test.id %>><h2>Title: <%= test.title %></h2></a>
    <h3>Subject: <%= test.subject %></h3>
    <h4>Description: <%= test.description %></h4>
  <% }) %>
</div>
