<div class="container-fluid">
  <h1>Title: <%= testDetails.title %></h1><a href="/tests/edit/<%= testDetails._id %>"> Edit Test</a>
  <h3>Subject: <%= testDetails.subject %></h3>
  <h4>Description: <%= testDetails.description %></h4>
  <h4>No of Qns: <%= testDetails.number_of_questions %></h4>
</div>
