<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<div class="container-fluid">
  <h2>Title: <%= testDetails.title %></h2>
  <h4>Subject: <%= testDetails.subject %></h4>
  <h4>Description: <%= testDetails.description %></h4>
  <h4>No of Qns: <%= testDetails.number_of_questions %></h4>
  <a href="/tests/edit/<%= testDetails._id %>">Edit Test</a>
  <a href="/tests/create/attempt/<%= testDetails._id %>">Attempt Test</a>
</div>

<div class="container-fluid">
  <% if (testQuestions.length > 0) { %>
    <% testQuestions.forEach(function(question) { %>
      <h4><%=question.content%></h4>
      <h5><%=question.format%></h5>
    <% }) %>
  <% } %>
</div>
